<h1>Welcome to the AngularSample Project</h1>

<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid d-flex justify-content-between">
    <div class="row text-light">
    <div class="col-sm">Home</div>
    <div class="col-sm">About Us</div>
    <div class="col-sm">Contact Us</div>
  </div>
    <div class="row text-light">
          <div class="col-sm">Create Account</div>
        <div class="col-sm">Login</div>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid ">
    
    <!-- Left Side Links -->
    <ul class="navbar-nav flex-row gap-5">
      <li ><a class="nav-link fs-4 " routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a class="nav-link fs-4" routerLink="/about-us" routerLinkActive="">About Us</a></li>
      <li><a class="nav-link fs-4" routerLink="/contact-us" routerLinkActive="">Contact Us</a></li>
    </ul>

    <!-- Right Side Links -->
    <ul class="navbar-nav flex-row gap-5">
      <a class="nav-link fs-4" routerLink="/create" routerLinkActive="">Create Account</a>
      <a class="nav-link fs-4" routerLink="/login" routerLinkActive="">Login</a>
    </ul>

  </div>
</nav>
<router-outlet></router-outlet>

<app-home [parenttext]="text"></app-home>


<!-- <nav >
  <ul  >
          <button style="border: none;" type="button" class="btn btn btn-outline-light btn-sm"routerLink="/home" routerLinkActive="active">Home</button>

      <li><a routerLink="/home" routerLinkActive="active" class="col-sm">Home</li>
      <li><a routerLink="/home" routerLinkActive="active" class="col-sm">Home</li>
      <li><a routerLink="/home" routerLinkActive="active" class="col-sm">Home</li>
     <div class="row text-light">
        <div class="col-md">Create Account</div>
        <div class="col-md">Login</div>
    </div> -->
  <!-- </ul>
</nav>
<router-outlet></router-outlet> --> 